*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.item{
    background-color: #205a23;
    color: #fff;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;

    grid-template-rows: 100px 100px;

    gap: 10px;
}
