html{
    font-size: 62.5%;

}
/* TEXTO */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 2rem;
    padding: 1%;
}

#cabecalho{
    background-color: #333;
    margin: 0 auto;
    width: 100%;
    border-radius: 1px;
    
}

#cabecalho h1{
    text-align: center;
}

#menu{
    margin: 0 auto;
    width: 70%;
    background-color: rgb(19, 19, 97);
}

#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    display: inline-block;
    margin: 0 5%;

}
#menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    background-color:rgb(19, 19, 97) ;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#menu ul li a:hover{
    background-color: #333;
    color: aqua;
}