*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
}
 :root{
    --cor-primaria: #698fca;
    --cor-secundaria: #aca5a5;
    --cor-fundo: #ebb7b7;
    --tittle-main: 4rem;
    --sub-tittle-main: 2.5rem;
    --overlay-gradient: linear-gradient(180deg, hsla(125, 76%, 24%, 0.5), rgba(62, 14, 46, 0.477));
 }
html{
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
main{
    width: 100%;
;
}
a{
    text-decoration: none;
    color: inherit;

}
ul{
    list-style: none;
}
