/* TEXTO */
html{
    font-size: 20px;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: inherit;  /*|Inherit significa herança|*/
    font-size: 1rem; /*Medida usada para fontes e tamanhos, que usa de base o pai.*/
}

#cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

#cabecalho h1{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}   

/*re-pull*/