/* TEXTO */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: #fd0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

header h1{
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}   