html{
  font-size: 62.5%;
}

/* TEXTO */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

    font-size: 2rem;
}

#cabecalho{
    background-color: #333;
    margin: 0 auto;
    width: 100%;
    
}

h1{
    text-align: center;
    color: aliceblue;
}

#menu{
    margin: 0 auto;
    width: 70%;
    background-color: antiquewhite;

}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#menu ul li {
  display: inline-block;
  margin: 0 5%;
}

#menu ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

#menu ul li a:hover {
  background-color: #111111;
}