
#html{
    font-size: 62.5%; /* 1rem = 10px */
}
#container{
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 0%;

}

/* TEXTO */
#body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 2rem;

}

#cabecalho {
    background-color: #e60202;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}

#cabecalho h1{
    text-align: center;
}

#menu{
    background-color: rgb(0, 255, 153);
    margin: 0 auto;
    width: 70%;
}
#menu ul li{
    list-style: none;
    display: inline-block; 
    margin: 0 5%;
    justify-content: space-around;
    padding: 0;
}
#menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(0, 255, 153);
    display: inline-block;
}
#menu ul li a:hover{
    background-color: rgb(34, 18, 122);
    color: white;
    border-radius: 5px;
}